{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol class="posts">
{% for post in postslist %}
	{% set firstimg = extractFirstImage(post) %}
	<li class="post-item">
		<a class="thumb" href="{{ post.url }}">
			{% image firstimg, "featured image" %}
		</a>

		<p>
			<a href="{{ post.url }}" class="postlist-link title">{{ post.data.title }}</a>
			<span>{{ post.date.toDateString() }}</span>
		</p>
	</li>
{% endfor %}
</ol>
