---
layout: layouts/page.njk
title: "Web Design/Development"
---

	{% set postslist = (collections.posts | filterByCommonCategoriesWithOneRequired('portfolio', ['web'])).reverse() %}
	{% include "postslist.njk" %}
